In [ ]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

#Reading in data from archive 
# - postings, benefits, industries, skills and salaries
df_postings = pd.read_csv('archive/postings.csv')
#Jobs
df_benefits = pd.read_csv('archive/jobs/benefits.csv')
df_industries = pd.read_csv('archive/jobs/job_industries.csv')
df_skills = pd.read_csv('archive/jobs/job_skills.csv')
df_salaries = pd.read_csv('archive/jobs/salaries.csv')

       job_id skill_abr
0  3884428798      MRKT
1  3884428798        PR
2  3884428798       WRT
3  3887473071      SALE
4  3887465684       FIN
5  3887465684      SALE
6  3887467939      SALE
7  3887467939      ADVR
8  3887467939        BD
9  3887471331       ENG
   salary_id      job_id  max_salary  med_salary  min_salary pay_period  \
0          1  3884428798         NaN       20.00         NaN     HOURLY
1          2  3887470552        25.0         NaN        23.0     HOURLY
2          3  3884431523    120000.0         NaN    100000.0     YEARLY
3          4  3884911725    200000.0         NaN     10000.0     YEARLY
4          5  3887473220        35.0         NaN        33.0     HOURLY
5          6  3884432468         NaN       48.43         NaN     HOURLY
6          7  3884915161     80000.0         NaN     50000.0     YEARLY
7          8  3884428983    101000.0         NaN     84000.0     YEARLY
8          9  3884433248        55.0         NaN        50.0     HOURLY
9         10  3884429625    100000.0         NaN     72000.0     YEARLY

  currency compensation_type
0      USD       BASE_SALARY
1      USD       BASE_SALARY
2      USD       BASE_SALARY
3      USD       BASE_SALARY
4      USD       BASE_SALARY
5      USD       BASE_SALARY
6      USD       BASE_SALARY
7      USD       BASE_SALARY
8      USD       BASE_SALARY
9      USD       BASE_SALARY